body {
	background-color: #9ea0a3;
}

img {
	width: 250px;
	height: 200px;
}
#buttonDiv {
	background-color: grey;
	padding: 5px;
}
.button {
	margin: 2px;
	border: solid black 2px;
	background-color: 
}

#characterForm {
	background-color: grey;
	margin-top: 3px;
}

.gifDiv {
	position: relative;
	background-color: grey;
	float: left;
	margin: 3px;
}
.button:hover {
	background-color: #5b5c5e;
}